*{
  margin: 0;
  padding: 0;
}


:root {
  --paper: oklch(7 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}

body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
}

a {
  padding: var(--space);
  border: var(--line);
  max-width: fit-content;
}

img,
svg {
  width: 100%;
  object-fit: cover;
}

main {
  max-width: var(--container);
  margin: 0 auto calc(var(--space) * 4) auto;
}

article {
  border: var(--line);
  padding-bottom: var(--space);
  text-align: left;

  grid-template-columns: var(--space) 1fr var(--space);

  >* {
    grid-column: 2/3;
  }

  >img {
    grid-column: span 3;
  }
}

.footer-container {
  background-color: rgb(30, 30, 30);
  color: aliceblue;
  position: fixed;
  align-items: center;
  
  bottom: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}